{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

    {% set description = product.description|replace({'<div>': '', '</div>': ''}) %}
    <div class="container">
        <div class="row">
            <div class="bg-light mt-4 p-4">
                    <img src="{{ asset('upload/images/products/' ~  product.image ) }}" alt="image_product" class="img-fluid" width="400" height="400" />
                    <p>{{ product.name }}</p>
                    <p>{{ description }}</p>
                    <a href="{{ path('app_products') }}">Retour aux produits</a>
            </div>
        </div>
    </div>

{% endblock %}